.container {
    width: 500px;
    text-align: center;
}

input {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
}

.element {
    padding: 12px;
    background-color: black;
    color: white;
    margin-bottom: 15px;
    width: 200px;
    border-radius: 50px;
    margin-left: 800px;
}

.close {
    background-color: red;
    border: none;
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    margin-left: 10px;
}

.card {
    display: contents;
}

.mg-fluid {
    margin-left: 10px;
    margin-top: 10px;
}
